@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #f8f8f8
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

// Переопределенные классы bootstarp
.navbar-toggler-icon
	width: 20px
.navbar-light .navbar-nav .nav-link
	color: $text-color-accent

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link
	color: $text-color-second
	text-decoration: none

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
	color: $text-color-second

.navbar-nav
	padding: 0 20px

.carousel-caption
	position: relative
// Переопределенные классы bootstarp_END

	
// HEADER
.nav-top
	background-color: $bg-color-light
	text-align: center
	padding: 0

.nav-top__button
	padding: 8px 12px

.nav-top__logo-link
	display: block
	padding: 20px 0

.nav-top__logo-link-m
	visibility: hidden
	display: inline-block
	margin: 0 auto
	padding-left: 60px

.nav-top__logo-text-m
	display: none

.nav-top__logo-img
	width: 100px
	vertical-align: top

.nav-top__logo-text-box
	display: inline-block
	line-height: 1
	padding: 10px
	margin: 0px

.nav-top__logo-text
	margin: 0
	font-size: 54px
	font-family: $font-nav-top__logo-text, sans-serif
	color: $text-color-accent

.nav-top__logo-text-full
	margin: 0
	display: inline-block
	font-size: 12px
	line-height: 1.2
	font-family: $font-nav-top, sans-serif

.nav-item
	padding: 0 10px

.nav-link
	font-family: $font-nav-top, sans-serif
	font-size: 15px
	text-decoration: underline		

.nav-top__contacts-box
	padding-left: 15px
	padding-right: 15px
	line-height: 1.2
	text-align: left

.nav-top__contacts-box_number
	font-family: $font-nav-top-num, sans-serif
	font-size: 22px
	color: $text-color-dark
	&::before
		background: url('../img/nav-top__contacts-box_icon-phone.svg') no-repeat
		left: 0
		top: 6px

.nav-top__contacts-box_address
	&::before
		background: url('../img/nav-top__contacts-box_icon-point.svg') no-repeat
		left: 0

.nav-top__contacts-box_w-hours
	&::before
		background: url('../img/nav-top__contacts-box_w-hours.svg') no-repeat
		left: 0

.nav-top__contacts-box_w-hours,
.nav-top__contacts-box_address
	position: relative
	font-family: $font-sidebar-right, sans-serif
	font-size: 14px

.nav-top__contacts-box_number,
.nav-top__contacts-box_w-hours,
.nav-top__contacts-box_address
	position: relative
	padding: 5px 0
	padding-left: 30px
	&::before
		position: absolute
		content: ''
		width: 20px
		height: 20px

.nav-top__form
	padding: 0 20px

.nav-top__form_search
	visibility: hidden
	display: none

.nav-top__form_button
	position: relative
	border: 0px solid transparent
	background-color: $bg-color-light
	font-family: $font-nav-top, sans-serif
	font-size: 16px
	padding: 10px 0px 10px 40px
	cursor: pointer
	&::before
		position: absolute
		content: ''
		background: url('../img/nav-top__form_button.svg') no-repeat
		width: 25px
		height: 25px
		left: 0
// HEADER_END


// SIDEBAR
.sidebar-right
	background-color: $bg-accent
	position: fixed
	height: 100%
	right: 0px
	z-index: 1500 // для bootstrap nav значение 1030
	list-style-type: none
	padding: 40px 0 40px 0
	text-align: center
	box-shadow: -5px 0px 30px 0px rgba(0,0,0,0.4)
	user-select: none
	overflow-y: auto

.sidebar-right__item
	position: relative
	cursor: pointer
	padding: 25px 25px
	&:hover
		background-color: $bg-sidebar-right_hover

.sidebar-right__link
	display: block
	&:last-child
		margin-top: 80px
	&:hover
		text-decoration: none

.sidebar-right__item:hover.sidebar-right__item_num-of-messages
	&::before
		background-color: $bg-accent

.sidebar-right__item_num-of-messages
	&::before
		position: absolute
		color: $text-color-light
		content: "4"
		right: 35px
		top: 15px
		width: 20px
		height: 20px
		border-radius: 50%
		background-color: $bg-sidebar-right_hover
		font-size: 12px

.sidebar-right__item-img
	width: 45px

.sidebar-right__item-text
	font-family: $font-sidebar-right, sans-serif
	color: $text-color-light
	font-size: 14px
	padding-top: 5px
	margin: 0px
// SIDEBAR_END


// SEC-1
.sec-1
	position: relative
	padding-top: 140px
	font-size: 0px

.sec-1__container
	text-align: center
	padding: 0 15%
	padding-bottom: 40px

.sec-1__headline
	font-family: $font-headline, sans-serif
	color: $text-color-accent
	font-size: 40px
	text-transform: uppercase
	padding-top: 40px
	padding-bottom: 20px
	text-align: center

.col-12__card-box
	padding: 0
	margin: 0
	width: 100%
	height: 100%

.sec-1__card-box
	position: relative
	background:  url('../img/sec-1__card-box_bg.jpg') 
	background-size: cover
	overflow: hidden
	font-size: 16px
	height: 100%
	min-height: 360px
	max-height: 420px
	max-width: 280px
	display: inline-block
	text-align: left
	margin: 20px
	vertical-align: top
	&:hover .sec-1__card-box_title
		color: $text-color-light
	&:hover .sec-1__card-box_text
		visibility: visible
	&:hover .sec-1__card-box_link
		visibility: visible

.sec-1__card-box
	&:hover
		&::before
			position: absolute
			left: 0
			top: 0
			right: 0
			bottom: 0
			content: ''
			background: rgba(17, 59, 95, 0.8)
	
.sec-1__card-box_bg-1
	background: url('../img/sec-1__card-box_img.png') no-repeat 100px 100px, url('../img/sec-1__card-box_bg.jpg') 
	background-size: 240px 240px, cover

.sec-1__card-box_bg-2
	background: url('../img/sec-1__card-box_img-2.png') no-repeat -50px 100px, url('../img/sec-1__card-box_bg.jpg') 
	background-size: 240px 240px, cover

.sec-1__card-box_bg-3
.sec-1__card-box_bg-4
.sec-1__card-box_bg-5
.sec-1__card-box_bg-6
.sec-1__card-box_bg-7
.sec-1__card-box_bg-8

.sec-1__card-box_title
	position: relative
	font-family: $font-headline, sans-serif
	color: $text-color-accent
	font-size: 18px
	padding: 15px 20px
	margin: 0
	text-transform: uppercase

.sec-1__card-box_text
	position: relative
	visibility: hidden
	font-family: $font-text-box, sans-serif
	color: $text-color-accent
	font-size: 12px
	color: $text-color-light
	padding: 0 20px 
	margin: 0
	margin-bottom: 100px

.sec-1__card-box_link
	visibility: hidden
	position: absolute
	font-family: $font-text-box, sans-serif
	color: $text-color-light
	font-size: 20px
	text-transform: uppercase
	background-color: $bg-bottom
	bottom: 20px
	padding: 15px 20px
	margin: 0 20px
	border-radius: 10px
	&:hover
		background-color: darken($bg-bottom, 5%)
		color: $text-color-light
		text-decoration: none
// SEC-1_END


// SEC-2
.sec-2
	// position: relative

.sec-2__group-indicators
	display: inline-block

.sec-2__indicator-1
	cursor: pointer
	display: inline-block
	left: 0

.sec-2__indicator-2
	cursor: pointer
	display: inline-block
	left: 1px

.sec-2__indicator-3
	cursor: pointer
	display: inline-block
	left: 2px

.sec-2__slide-1
	width: 600px
	text-align: left
	padding: 140px 0

.sec-2__slide-1_title
	font-family: $font-title, sans-serif
	font-size: 24px
	color: $text-color-light
	text-transform: uppercase
	font-weight: normal
	margin: 0
	padding: 0
	line-height: 1.0

.sec-2__slide-1_big-text
	font-family: $font-big-text, sans-serif
	font-size: 90px
	color: $text-color-second
	text-transform: uppercase
	margin: 0
	padding: 0
	line-height: 1.8

.sec-2__bg-slide-1
	// position: relative
	background: url("../img/sec-2__slide-1.jpg") no-repeat center center
	background-size: cover
	top: 0
	// display: none

.sec-2__bg-slide-1.active
	// display: block
	// visibility: visible
	// opacity: 1

.sec-2__slide-1_text
	font-family: $font-text-box, sans-serif
	font-size: 16px
	color: $text-color-light
	margin: 0
	margin-bottom: 60px
	padding: 0
	line-height: 1.2

.sec-2__slide-1_link
	font-family: $font-text-box, sans-serif
	font-size: 20px
	color: $text-color-light
	text-transform: uppercase
	background-color: $bg-bottom
	padding: 15px 20px
	border-radius: 10px
	// margin: 0
	// padding: 0
	// margin-top: 40px
	&:hover
		background-color: darken($bg-bottom, 5%)
		color: $text-color-light
		text-decoration: none

/* Плавное переключение слайдов CSS */
.carousel-fade .carousel-inner .carousel-item 
  	opacity: 0
  	transition-property: opacity

.carousel-fade .carousel-inner .active 
  	opacity: 1

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right 
  	left: 0
  	opacity: 0
  	z-index: 1

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right 
  	opacity: 1

.carousel-fade .carousel-control 
  	z-index: 2

@media all and (transform-3d), (-webkit-transform-3d) 
  	.carousel-fade .carousel-inner >.carousel-item.next,
  	.carousel-fade .carousel-inner >.carousel-item.active.right 
    	opacity: 0
    	transform: translate3d(0, 0, 0)
  
  	.carousel-fade .carousel-inner >.carousel-item.prev,
  	.carousel-fade .carousel-inner >.carousel-item.active.left 
    	opacity: 0
    	transform: translate3d(0, 0, 0)
  
  	.carousel-fade .carousel-inner >.carousel-item.next.left,
  	.carousel-fade .carousel-inner >.carousel-item.prev.right,
  	.carousel-fade .carousel-inner >.carousel-item.active 
    	opacity: 1
    	transform: translate3d(0, 0, 0)
  

/*  Fade Slider CSS END  */

// SEC-2_END
  
@import "media" // Always at the end
